<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS Z} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>



	<!-- 日志输出级别 -->
	<!-- TRACE < DEBUG < INFO < WARN < ERROR -->
	
	<!-- 将组件日志级别提高至WARN -->
	<logger name="org.dozer" level="WARN" />
	
	<!-- 
	<logger name="com.jfs.purchase" level="INFO">
		<appender-ref ref="FILE" />
	</logger> 
	-->
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>